table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #ddd; 
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333; 
}

tr:nth-child(even) {
  background-color: #f9f9f9; 
}

tr:hover {
  background-color: #f1f1f1; 
}
